<form novalidate name="addRoundForm" ng-submit="addRound()">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Add a Round</span>
        </div>
        <div class="card-action">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="number" id="number" ng-model="round.number" class="validate" required />
                    <label for="number">Round Number</label>
                </div>
                <div class="input-field col m6 s12">
                    <input type="text" id="name" ng-model="round.name" class="validate" required />
                    <label for="name">Round Name</label>
                </div>
            </div>
            <button type="submit" ng-disabled="addRoundForm.$invalid" class="btn green"><i class="material-icons">done</i></button>
        </div>
    </div>
</form>