<div ng-controller="scoresController">
    <h3>Scoreboard</h3>
    <div ui-view>
        <button ui-sref=".update" class="btn green">Update Scores</button>
    </div>
    <table class="striped centered">
        <thead>
            <tr>
                <td style="text-align:center;">Position</td>
                <td style="text-align:center;">Team Name</td>
                <td style="text-align:center;">Total Score</td>
                <td style="text-align:center;"> - </td>
                <td ng-repeat="round in rounds" style="text-align:center;">
                    {{round.name}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="team in teams | orderBy:'-score'">
                <td>{{$index + 1}}</td>
                <td>{{team.name}}</td>
                <td>{{team.score}}</td>
                <td> - </td>
                <td ng-repeat="round in rounds">
                    {{team.rounds[round.number].score}}
                </td>
            </tr>
        </tbody>
    </table>
</div>