<div ng-controller="teamsController">
    <h3>
        Teams
    </h3>
    <br />
    <div ui-view>
        <button class="btn-large waves-light waves-effect green" ui-sref=".add">Add Team</button>
    </div>
    <br />
    <div class="card-panel">
        <table class="striped centered">
            <thead>
            <tr><th>Table Number</th><th>Team Name</th><th>Actions</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="team in teams | orderBy:'number'">
                <td>
                    {{team.number}}
                </td>
                <td>
                    {{team.name}}
                </td>
                <td>
                    <button ng-click="deleteTeam(team)" class="btn red"><i class="material-icons">delete</i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
